/* Styles go here */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	background-color: #63CEC2;
	
}

h4, button {
	text-transform: uppercase;
	color: #F7F8F9;
}



.container{
	background-color: rgba(67,75,89,0.7);
	width: 50%;
	min-width: 500px;
	margin: 0 auto;
	text-align: center;
	border-radius: 15px;
	
}

h4 {
	font-size: 28px;
	letter-spacing: 1px;
	padding-top: 40px;
}

a {
	font-size: 16px;
	color: #F7F8F9;
	text-decoration: none;
	display: block;
	padding-bottom: 15px;
	margin-top: 40px;
}

input, button{
	display: block;
	width: 75%;
	margin: 0 auto;
	margin-bottom: 16px;
	padding-top: 7px;
	padding-bottom: 7px;
	border: none;
	border-radius: 15px;
	text-indent: 8px;
}


button {
	background-color: #CCC;
	font-weight: bolder;
}



button:hover,a:hover{
	color: #63CEC2;
}

.userinfo {
	display: flex;
	width: 90%;
}

.userinfo img{
	width: 80px;
	height: 150px;
	margin-left: 10px;
	flex-grow: 1;
	border-radius: 12px;
}

li {
	list-style: none;
	font-size: 12px;
	color: #F7F8F9;
	text-align: left;
	flex-grow: 1;
}

h5 {
	color: #F7F8F9;
	font-size: 22px;
}

